#modal-confirmation-page{
    border-radius: 4em;
    background: var(--primary);
}

.receipt-header{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    text-align: center;
    margin-bottom: 3em;
}

.receipt-image-container{
    margin-bottom: 6em;
}

.receipt-image-container img{
    width: 8em;
    height: 8em;
    border-radius: 100%;
    position: absolute;
    top: -4em;
    left: calc(50% - 4em);
    border: 0.6em solid var(--main);
}

.receipt-place-name{
    font-size: 2em;
    font-weight: 600;
}

.receipt-place-court{
    font-size: 1.7em;
}

.confirmation-players{
    display: flex;
    margin-left: 2em;
    font-size: 1.7em;
    border: 1px solid var(--border-main);
    margin: 2em;
    margin-top: 1em;
    border-radius: 25px;
}

.confirmation-players .friend-profile{
    padding: 1em;
    border-right: 2px dotted #cdcdcd;
    margin: 0;
    padding-left: 2em;
    padding-right: 2em;
    justify-content: center;
}

.add-new-friend{
    color: var(--text-secondary);
    font-weight: 600;
}

.confirmation-page{
    display: flex;
    flex-direction: column;
    padding: 2em;
    margin: 2em;
    font-size: 1.6em;
    background: var(--main);
    border-radius: 50px;
}

.confirmation-header{
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
}

.receipt-analysis, .receipt-total{
    padding-left: 1em;
    padding-top: 3em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    gap: 2.5em;
    font-weight: 700;
}

.receipt-row{
    display: flex;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
}

.receipt-label{
    flex: 1;
}