.filters-container{
    background: var(--main);
}

.places-filters{
    padding-top: 2em;
    background: var(--main);
    margin-bottom: 4em;
    margin-top: 15em;
    display: flex;
    
}

.datepicker-container, .time-start-container, .time-end-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: var(--theme-coloured-icons);
    font-weight: 600;
    font-size: 1.4em;
    flex: 1 1 0;
    align-items: center;
    margin-bottom: 1em;
}

.vertical-seperator{
    margin-bottom: 2em;
    border-color: var(--theme-coloured-icons);
}

.places-filter-search{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 4em;
}

.places-error{
    display: none;
    text-align: center;
    color: var(--text-secondary);
    font-size: 3em;
    font-style: italic;
    padding-top: 3em;
    font-weight: 700;
}

.places-container{
    margin: 4em;
    margin-top: 2em;
}

.sort-by-container{
    margin-left: 2em;
    font-size: 1.6em;
    display: flex;
    align-items: end;
    gap: 0.4em;
    font-weight: 600;
    margin-top: 2.5em;
}