.places-datepicker-container {
    text-align: center;
}

.places-timepicker-container {
    margin-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
}

.places-timepicker-container, .places-datepicker-container{
    font-size: 2em;
    display: none;
}

/* .places-container {
    margin-top: 4em;
} */

.places-filters{
    padding-top: 4em;
    background: #f3f3f3;
    margin-bottom: 4em;
    padding-bottom: 2em;
}

.places-timepicker-start, .places-timepicker-end{
    display: block;
}

.places-filter-search{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 3em;
}

#places-filters{
    color: var(--text-secondary);
}

.filter-result{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.places-error{
    display: none;
    text-align: center;
    color: var(--text-secondary);
    font-size: 3em;
    font-style: italic;
    padding-top: 3em;
    font-weight: 700;
}