.label{
    font-weight: bold;
    padding: 2em;
    font-size: 1.6em;
    padding-bottom: 1em;
    padding-top: 1em;
}

.radius-container{
    border-radius: 3em;
}

.front{
    backface-visibility: hidden;
}

.back{
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

/* Slide animation to show/hide ui sections */
/*  ---- MUST CHANGE the variable section height CSS variable  */
/*  ---- For better slide animation */
@keyframes openSection{
    0% {
        display: block;
        z-index: 1;
        height: 0em;
        overflow: scroll;
    }
    100%{
        height: var(--animation-section-height);
        overflow: auto;
    }
}

@keyframes closeSection{
    0%{
        height:var(--animation-section-height);
        z-index: -1;
        overflow: scroll;
    }
    100%{
        height: 0;
        z-index: 1;
        display:none;
        overflow: auto;
    }
}