.card{
    display: flex;
    flex-direction: column;
    width: 24em;
    padding-right: 1em;
    background: var(--primary);
}

.place .place-closed{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: gray;
    display: none;
}

.card-image-container{
    flex-basis: 100%;
}

.card-image{
    object-fit: cover;
    width: 24em;
    height: 15em;
}

.card-place-name-container{
    padding: 2em;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.card-court-name{
    font-weight: 600;
    color: var(--text-label);
}

.card-place-datetime{
    display: flex;
    padding: 2em;
    font-size: 1.2em;
    font-weight: bold;
    justify-content: space-between;
}

.place{
    width: 100%;
    border: 1px solid var(--border-main);
    margin-bottom: 4em;
    padding-bottom: 2em;
}

.place .card-image{
    width: 100%;
    height: 30em;
}

.place .card-place-name-container{
    font-size: 1.8em;
    font-style: italic;
    background: #468D8F;
    color: white;
    margin: 0;
    margin-top: -0.2em;
    margin-bottom: 2em;
    padding: 1.5em;
}

.place .card-place-location-container{
    width: 95%;
    font-size: 1.5em;
    text-align: right;
    color:var(--text-secondary);
}

.place .card-place-available-hours {
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    padding: 1em;
    color: var(--text-secondary);
}

.place .card-place-price{
    font-size: 2.3em;
    text-align: right;
    width: 95%;
    font-weight: bold;
}

.place .card-hours{
    padding-top: 1em;
}

.card-shadow{
    box-shadow: 5px 5px 15px 0px #939393;
}