.card{
    display: flex;
    flex-direction: column;
    width: 24em;
    padding-right: 1em;
    background: var(--primary);
}

.place .place-closed{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: gray;
    display: none;
}

.card-image-container{
    flex-basis: 100%;
    position: relative;
}

.card-image{
    object-fit: cover;
    width: 24em;
    height: 15em;
}

.card-place-name-container{
    padding: 2em;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.card-court-name{
    font-weight: 600;
    color: var(--text-label);
}

.card-place-datetime{
    display: flex;
    padding: 2em;
    font-size: 1.2em;
    font-weight: bold;
    justify-content: space-between;
}

.place{
    width: 100%;
    border: 1px solid var(--border-main);
    margin-bottom: 4em;
    padding-bottom: 2em;
    border-radius: 1em;
    padding-right: 0;
    box-shadow: 1px 7px 18px 4px #e5e5e5;
}

.place .card-image{
    width: 100%;
    height: 22em;
    border-radius: 1em;
}

.place .card-place-name-container{
    font-size: 1.8em;
    margin: 0;
    padding: 1em;
    font-weight: bold;
    text-align: left;
    padding-bottom: 0.5em;
    gap: 0.5em;
}

.place .card-place-location-container{
    font-size: .8em;
    color: var(--text-secondary);
    font-weight: 400;
}

.place .card-place-available-hours {
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    padding-right: 1em;
    color: var(--text-secondary);
    text-align: right;
}

.place .card-place-price{
    font-size: 2em;
    text-align: right;
    font-weight: bold;
    position: absolute;
    bottom: 1em;
    right: 1em;
    border: 1px solid var(--theme-main);
    background: var(--theme-main);
    padding: 0.4em;
    color: white;
    border-radius: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

.card-shadow{
    box-shadow: 5px 5px 15px 0px #939393;
}